*{
    margin: 0;
    padding: -10px; ;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: linear-gradient( rgb(11, 73, 121)10%, rgb(100, 171, 192)100%);
    }

    .App{
       display: flex; 
       align-items: center;
       justify-content: center;
        min-height: 100vh; 
       width: 100%;
       height: 100%;
     
    }
    .player{
        display: block;
        background-image: linear-gradient(to bottom,rgb(186, 81, 146),indigo);
        margin: 5px auto;
        padding: 10px;
        border-radius: 15px;
        box-shadow: inset -5px -5px 10px rgb(41, 36, 36),
        inset 5px 5px 10px rgb(133, 125, 125);
       
    }
    .player>h4{
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        margin-top: 10px ;

    }
    .player>p{
        color: rgb(72, 198, 205);
        font-size: 15px;
        text-align: center;
        font-weight: 500;
        margin: 12px auto;
    }
    .player>p span{
    font-weight: 500;
    width:fit-content ;
    }
    .details .details-img{
        position: relative;
        width:fit-content ;
        margin: 0px auto;
        
    }
    .details .details-img img{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
           
    display: block;
    margin: 5px auto;
    object-fit: contain;
    width:80% ;
    height: 40%;
    max-width: 300px; 
    min-height: 200px;
    }
    h5{
        text-align: center;
        color:rgb(72, 198, 205) ;
    }
    .details .details-title{
        color: rgb(255, 255, 255);
        font-size:28px ;
        text-align: center;
        margin: 5px 5px;
    }
    .details .details-artist{
        color: rgb(249, 245, 245);
        font-size:20px ;
        text-align: center;
      margin: 10px  10px ; 
        
    }
    .control{
      display: flex;  
      align-items: center;
      justify-content: center;
      margin: 10px 10px ;
    }
    .control .play-btn{
         display: flex;
         margin: 0 30px ;
         padding: 20px ;
         border-radius: 50%  ;
         border: none ;
         background-color: rgb(236, 253, 2);
         color: black;
         font-size: 20px;
    }
    .control .play-btn:hover {
        background-color: #c0c008;
        color: #000;
      }
    .control .skip-btn{
        background: none;
        border: none;
        outline:none ;
        cursor: pointer;
        color: white ;
        font-size:18px ;
    }
    .control .skip-btn:hover{
        transition: 0.5s ease-in-out;
       transform: scale(1.5);
       color: white;
       background-color: inherit;
    }
   audio{
    opacity: 0.5;
    outline-width: 0;
    margin-bottom: 5px;
    margin-top: -7px;
   } 
    audio::-webkit-media-controls-play-button {
        display: none;
      }